<!-- put here custom javascript files to include on theme -->
<!-- Modernizr -->
<script src="{{ root_url }}/javascripts/modernizr-2.0.js"></script>
<!-- jQuery -->
<script src="{{ root_url }}/javascripts/jquery-1.11.1.min.js"></script>

<!-- Delete or comment this line to disable Google analitics -->
{% include script_google_analytics.html %}

<script src="{{ root_url }}/javascripts/octopress.js"></script>

<!-- Delete or comment this line to disable Lightbox -->
<script src="{{ root_url }}/javascripts/lightbox.min.js"></script>

<!-- volocity -->
<script src="{{ root_url }}/javascripts/velocity/jquery.velocity.min.js"></script>

<!-- Twitter bootstrap.min or js files by components -->
<!-- <script src="{{ root_url }}/javascripts/bootstrap.min.js"></script> -->
<!-- <script src="{{ root_url }}/javascripts/bootstrap/<by-component>.js"></script> -->

<!-- Custom theme scripts -->
<script src="{{ root_url }}/javascripts/custom.js"></script>

<script type="text/javascript">
	// code goes here
</script>
